* {
  font-family: "Open Sans", sans-serif;
}

body {
  color: #17c112;
  background-color: #0C0D0E;
  font-size: 11pt;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  min-height: 95vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 95vw;
  margin: auto;
}

h1 {
  font-family: "Orbitron";
  text-align: center;
}

header {
  padding-top: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

main {
  clear: both;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem .5rem 1rem .5rem;
}

td, th, table {
  text-align:center;
  vertical-align:middle;
}

#buttoner {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

#actTable {
  padding-left: 2rem;
}
.act {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


button {
  cursor: pointer;
  background-color: #17c112;
  color: #ffffff;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 1rem 2rem;
  width: 16rem;
  box-shadow: 0px 3px 0px 0px #239a55;
  outline: none;
  border: none;
}

button:hover {
  background-color: #04b404;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 10pt;
  }

  .container {
    min-height: 60vh;
    max-width: 90w;
  }

  img {
    max-width: 50%;
    height: auto;
    width: auto;
  }

  main {
    padding: 1rem .5rem 0rem .5rem;
  }

  #buttoner {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }

  button {
    margin: auto;
    max-width: 50vw;
  }
}

@media only screen and (max-height: 550px) {
  img {
    max-width: 33%;
    height: auto;
    width: auto;
  }
}
